[data]
{{- $email := promptStringOnce . "email" "Enter your email address:" }}
{{- $machinetypechoices := list "home" "work" }}
{{- $machinetype := promptChoiceOnce . "machinetype" "MachineType" $machinetypechoices }}
username = "Thomas Schreiner"
email = "{{ $email }}"
machinetype = "{{ $machinetype }}"

[edit]
command = "code"
args = ["--wait"]

[diff]
command = "code"
args = ["--wait", "--diff"]

[merge]
command = "pwsh"
args = ["-Command", "cp {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base && code --wait --new-window --merge {{ `{{ .Destination }}` }} {{ `{{ .Target  }}` }} {{ `{{ .Target }}` }}.base {{ `{{ .Source }}` }}"]

[cd]
command = "pwsh"
