[data]
{{- $email := promptStringOnce . "email" "Enter your email address:" }}
{{- $machinetypechoices := list "home" "work" }}
{{- $machinetype := promptChoiceOnce . "machinetype" "MachineType" $machinetypechoices }}
username = "Thomas Schreiner"
email = "{{ $email }}"
machinetype = "{{ $machinetype }}"

{{- if eq .chezmoi.os "windows"}}
[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo"]

[edit]
command = "code"
args = ["--wait"]

[diff]
command = "code"
args = ["--wait", "--diff"]

[merge]
command = "C:\\Users\\tschr\\AppData\\Local\\Programs\\WinMerge\\WinMergeU.exe"
# args = ["-Command", "cp {{ `{{ .Target }}` }} {{ `{{ .Target }}` }}.base && code --wait --new-window --merge {{ `{{ .Destination }}` }} {{ `{{ .Target  }}` }} {{ `{{ .Target }}` }}.base {{ `{{ .Source }}` }}"]

[cd]
command = "pwsh"
{{- end }}

{{- if eq .chezmoi.os "linux"}}
[edit]
command = "nano"

[diff]
command = "vi"
args = ["--diff"]

[cd]
command = "bash"

[interpreters.sh]
command = "bash"
{{- end }}
