# EditorConfig is a file format for defining coding styles per-project.
# Learn more: https://editorconfig.org/

# Root EditorConfig file
root = true

# Default settings (applies to all file types unless overridden)
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Add specific settings for TOML files
[*.{toml.tmpl,toml}]
before_section_newline = true
