[core]
  autocrlf = true
  whitespace = error
  preloadindex = true
[user]
  name = {{ .username }}
  email = {{ .email }}
[pull]
  rebase = true
[color]
  ui = true
[status]
  branch = true
  showStash = true
  short = true
  showUntrackedFiles = all

[diff]
  renames = copies
  external = difft
[pager]
  difftool = true 

[alias]
  lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

{{- if eq .machinetype "home" }}
[safe]
  directory = %(prefix)///diskstation/home/GoogleDrive/Gaming/Ingress/Operations/2022-05-14-H7-Muc
{{- end }}

{{- if eq .machinetype "work" }}
[credential "https://fpr-debian-01"]
  provider = generic
[http]
  sslBackend = schannel
{{- end }}
