# ensure this scripts runs whenever packages.yml file is modified
# packages.yml hash {{ include ".chezmoidata/packages.yml" | sha256sum }}

{{- if eq .chezmoi.os "windows" }}

$tmpPackages = Join-Path -Path ([System.IO.Path]::GetTempPath()) -ChildPath ("packages-" + [System.Guid]::NewGuid().ToString() + ".json")
winget export -o $tmpPackages --include-versions --nowarn
$installedPackages = (Get-Content $tmpPackages | ConvertFrom-Json).Sources.Packages
# PackageIdentifier
# Version

# pwsh -nologo -noprofile {

write-output "{"
write-output "{ Installing Packages"
write-output "{"

{{- range .packages }}
write-output '# installing: {{ .win | quote }}'

$package = $installedPackages | Where-Object {$_.PackageIdentifier -eq {{ .win | quote }} }
if(-not $package) {
    gsudo winget install --id {{.win | quote }} --silent --accept-source-agreements --accept-package-agreements --disable-interactivity --exact
}

{{- end }}

write-output "}"
write-output "} Installed Packages"
write-output "}"

# } # end pwsh
{{- end }} # end if os == windows
