# ensure this scripts runs whenever packages.yml file is modified
# packages.yml hash {{ include ".chezmoidata/packages.yml" | sha256sum }}

{{- if eq .chezmoi.os "windows" }}

pwsh -nologo -noprofile {

write-output "{"
write-output "{ Installing Packages"
write-output "{"

{{- range .packages }}
write-output '# installing: {{ .win | quote }}'

winget install {{ .win | quote }}
{{- end }}

write-output "}"
write-output "} Installed Packages"
write-output "}"

} # end pwsh
{{- end }} # end if os == windows
