{{- if eq .chezmoi.os "windows" }}
# ensure this scripts runs whenever packages.yml file is modified
# powershell_modules.yml hash {{ include ".chezmoidata/powershell_modules.yml" | sha256sum }}

pwsh -NoLogo -NoProfile {    

write-output "### Installing Modules"
{{- range .powershell_modules }}
if (Get-PSResource -Name {{ .name | quote }} -ErrorAction SilentlyContinue) {
    Write-Output "Module '{{ .name }}': Already installed."
} else {
    Write-Output "Module '{{ .name }}': Installing..."
    Install-PSResource -Name {{ .name | quote }} -TrustRepository
}
{{- end }}

} # end pwsh
{{ end -}} # end if os == windows
